body {
  background-image: url('./assets/img/temple-bg.jpg');
  background-size: cover;
  background-repeat: no-repeat;
  height: 100vh;
  width: auto;
}

.monk {
  background-image: url('./assets/img/monk1.png');
  width: 300px;
  height: 350px;
  position: absolute;
  bottom: -10px;
  left: 50%;
  transform: translateX(-50%);
}
.monk:hover {
  cursor: pointer;
}
.tooting {
  background-image: url('./assets/img/monk8.png');
}
.accident {
  background-image: url('./assets/img/monk5.png');
}

.preload-image {
  display: none;
}