body {
  background-image: url('./assets/img/temple-bg.jpg');
  background-size: cover;
  background-repeat: no-repeat;
  height: 100vh;
  width: auto;
}

.monk {
  background-color: orange;
  width: 300px;
  height: 400px;
  position: absolute;
  bottom: 0;
  left: 50%;
  transform: translateX(-50%);
}
.monk:hover {
  cursor: pointer;
}
.tooting {
  background-color: burlywood;
}
.accident {
  background-color: red;
}